<section class="section">
  <div class="box">
    <h1>Dzienniczek samokontroli</h1>

    <div class="container">
      <form >
        <div class="field date">

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Wybierz date</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="date" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="field time" >

          <mat-form-field appearance="fill">
            <mat-label>Pora dnia</mat-label>
            <mat-select>
              <mat-option *ngFor="let time of times" [value]="time.value" required>
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="field measure" >

          <mat-form-field >
            <input matInput type="number" placeholder="Wartość w mg/dl" [formControl]="measure" required >
            <mat-error *ngIf="measure.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

        </div>
        <div class="btn-group">
          <button mat-raised-button routerLink="/" >Wstecz</button>
          <button mat-raised-button type="submit">Zatwierdź</button>
        </div>
      </form>


    </div>

  </div>
</section>
