@import "../../../main-style";



.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: $charcoal;

}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  padding: 20px;
  border-radius: 8px;

  background-color: lighten($charcoal, 8%);

  h1 {
    color: $maize_crayola;
  }

}

.container {

  display: flex;
  flex-direction: column;

  .field {
    width: 100%;

    .mat-mdc-form-field {
      width: 100%;
    }

  }

}

.btn-group {

  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button:last-child{
    background-color: $persian_green;
    color: white;
  }
}

.mdc-text-field {
  border-radius: 8px !important;
}

