<section class="section">
  <div class="box">
  <h1>Dzienniczek samokontroli</h1>
    <button mat-raised-button class="mtb" routerLink="add">Dodaj pomiar</button>
    <button mat-raised-button class="mtb">Wszystkie pomiary</button>

    <hr style="width: 100%; margin-bottom: 20px; margin-top: 20px;">

    <h2>Średnie wyniki z ostatnich:</h2>

    <p class="mtb bad">
      <span class="left">7 dni:</span>
      <span class="right">150 mg/dl</span>
    </p>
    <p class="mtb good">
      <span class="left">30 dni:</span>
      <span class="right">135 mg/dl</span>
    </p>
    <p class="mtb good">
      <span class="left">90 dni:</span>
      <span class="right">140 mg/dl</span>
    </p>
  </div>
</section>
